<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link href="../../../src/css/preview.css" rel="stylesheet" />
        <link href="./template.css" rel="stylesheet" />
        <script src="./template.js"></script>
        <title>New Document</title>
    </head>
    <body>
        <header id="masthead" class="preview">
            <div>
                <div class="logo">
                    💫 <span>Galactic Delights</span>
                </div>
            </div>
            <nav>
                <a href="/demos">Back to Demos</a>
                <a href="https://github.com/matt-shirey/galactic-delights/tree/main/demos">
                    Checkout the code
                </a>
            </nav>
        </header>
        <main id="content" class="preview">
            CONTENT HERE
        </main>
        <footer id="footer" class="preview">
            &copy; <span class="copyright-year"></span> - Galactic Delights
        </footer>
    </body>
</html>