<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link href="../../../src/css/preview.css" rel="stylesheet" />
        <link href="./template.css" rel="stylesheet" />
        <script src="../../../src/js/preview.js"></script>
        <script src="./template.js"></script>
        <title>New Document</title>
    </head>
    <body class="h-full">
        <div class="min-h-full">
            <div class="placeholder-header"></div>
            <main id="content" class="preview">
                CONTENT HERE
            </main>
        </div>
    </body>
</html>