<header id="masthead" class="preview">
    <nav class="border-b border-gray-200 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 justify-between">
                <div class="flex flex-shrink-0 items-center">
                    💫 <span class="ml-2">Galactic Delights</span>
                </div>
                <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                    <a href="/demos" target="_self" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Demos</a>
                    <a href="https://github.com/matt-shirey/galactic-delights/tree/main/demos" target="_blank" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Checkout the code</a>
                </div>
            </div>
        </div>
    </nav>
</header>